
{% extends 'base.html' %}

{% block content %}

    <!-- Header Start -->
    <div class="jumbotron jumbotron-fluid page-header position-relative overlay-bottom" style="margin-bottom: 90px;">
        <div class="container text-center py-5">
            <h1 class="text-white display-1">Course Detail</h1>
            <div class="d-inline-flex text-white mb-5">
                <p class="m-0 text-uppercase"><a class="text-white" href="">Home</a></p>
                <i class="fa fa-angle-double-right pt-1 px-3"></i>
                <p class="m-0 text-uppercase">Course Detail</p>
            </div>
<!--            <div class="mx-auto mb-5" style="width: 100%; max-width: 600px;">-->
<!--                <div class="input-group">-->
<!--                    <div class="input-group-prepend">-->
<!--                        <button class="btn btn-outline-light bg-white text-body px-4 dropdown-toggle" type="button" data-toggle="dropdown"-->
<!--                            aria-haspopup="true" aria-expanded="false">Courses</button>-->
<!--                        <div class="dropdown-menu">-->
<!--                            <a class="dropdown-item" href="#">Courses 1</a>-->
<!--                            <a class="dropdown-item" href="#">Courses 2</a>-->
<!--                            <a class="dropdown-item" href="#">Courses 3</a>-->
<!--                        </div>-->
<!--                    </div>-->
<!--                    <input type="text" class="form-control border-light" style="padding: 30px 25px;" placeholder="Keyword">-->
<!--                    <div class="input-group-append">-->
<!--                        <button class="btn btn-secondary px-4 px-lg-5">Search</button>-->
<!--                    </div>-->
<!--                </div>-->
<!--            </div>-->
        </div>
    </div>
    <!-- Header End -->


    <!-- Detail Start -->
    <div class="container-fluid py-5">
        <div class="container py-5">
            <div class="row">
                <div class="col-lg-8">
                    <div class="mb-5">
                        <div class="section-title position-relative mb-5">
                            <h6 class="d-inline-block position-relative text-secondary text-uppercase pb-2">Course Detail</h6>
                            <h1 class="display-4">{{ course.title }}</h1>
                        </div>
                        <img class="img-fluid rounded w-100 mb-4" src="{{ course.photo.url }}" alt="Image">

                        <p>{{ course.text }}
                        </p>
                    </div>

               </div>

                <div class="col-lg-4 mt-5 mt-lg-0">
                    <div class="bg-primary mb-5 py-3">
                        <h3 class="text-white py-3 px-4 m-0">Course Features</h3>
                        <div class="d-flex justify-content-between border-bottom px-4">
                            <h6 class="text-white my-3">Instructor</h6>
                            <h6 class="text-white my-3">{{ course.teacher.first_name }} {{ course.teacher.last_name }}</h6>
                        </div>
                        <div class="d-flex justify-content-between border-bottom px-4">
                            <h6 class="text-white my-3">Rating</h6>
                            <h6 class="text-white my-3">{{ course.rate }}<small>{{ course.students_count }}</small></h6>
                        </div>
                        <div class="d-flex justify-content-between border-bottom px-4">
                            <h6 class="text-white my-3">Lectures</h6>
                            <h6 class="text-white my-3">{{ course.lessons_count }}</h6>
                        </div>
                        <div class="d-flex justify-content-between border-bottom px-4">
                            <h6 class="text-white my-3">Duration</h6>
                            <h6 class="text-white my-3">{{ course.duration }}</h6>
                        </div>
                        <div class="d-flex justify-content-between border-bottom px-4">
                            <h6 class="text-white my-3">Skill level</h6>
                            <h6 class="text-white my-3">{{ course.skill_level }}</h6>
                        </div>
                        <div class="d-flex justify-content-between px-4">
                            <h6 class="text-white my-3">Language</h6>
                            <h6 class="text-white my-3">{{ course.language }}</h6>
                        </div>
                        <h5 class="text-white py-3 px-4 m-0">Course Price: ${{ course.price }}</h5>
                        <div class="py-3 px-4">
                            {% if enroll %}
                                <a class="btn btn-block btn-secondary py-3 px-5" href="{% url 'course-lessons' course.pk %}">View Lessons</a>
                            {% else %}
                                <a class="btn btn-block btn-secondary py-3 px-5" href="{% url 'enroll-course' course.pk %}">Enroll Now</a>
                            {% endif %}
                        </div>
                    </div>

<!--                    <div class="mb-5">-->
<!--                        <h2 class="mb-4">Recent Courses</h2>-->
<!--                        <a class="d-flex align-items-center text-decoration-none mb-4" href="">-->
<!--                            <img class="img-fluid rounded" src="img/courses-80x80.jpg" alt="">-->
<!--                            <div class="pl-3">-->
<!--                                <h6>Web design & development courses for beginners</h6>-->
<!--                                <div class="d-flex">-->
<!--                                    <small class="text-body mr-3"><i class="fa fa-user text-primary mr-2"></i>Jhon Doe</small>-->
<!--                                    <small class="text-body"><i class="fa fa-star text-primary mr-2"></i>4.5 (250)</small>-->
<!--                                </div>-->
<!--                            </div>-->
<!--                        </a>-->
<!--                        <a class="d-flex align-items-center text-decoration-none mb-4" href="">-->
<!--                            <img class="img-fluid rounded" src="img/courses-80x80.jpg" alt="">-->
<!--                            <div class="pl-3">-->
<!--                                <h6>Web design & development courses for beginners</h6>-->
<!--                                <div class="d-flex">-->
<!--                                    <small class="text-body mr-3"><i class="fa fa-user text-primary mr-2"></i>Jhon Doe</small>-->
<!--                                    <small class="text-body"><i class="fa fa-star text-primary mr-2"></i>4.5 (250)</small>-->
<!--                                </div>-->
<!--                            </div>-->
<!--                        </a>-->
<!--                        <a class="d-flex align-items-center text-decoration-none mb-4" href="">-->
<!--                            <img class="img-fluid rounded" src="img/courses-80x80.jpg" alt="">-->
<!--                            <div class="pl-3">-->
<!--                                <h6>Web design & development courses for beginners</h6>-->
<!--                                <div class="d-flex">-->
<!--                                    <small class="text-body mr-3"><i class="fa fa-user text-primary mr-2"></i>Jhon Doe</small>-->
<!--                                    <small class="text-body"><i class="fa fa-star text-primary mr-2"></i>4.5 (250)</small>-->
<!--                                </div>-->
<!--                            </div>-->
<!--                        </a>-->
<!--                        <a class="d-flex align-items-center text-decoration-none" href="">-->
<!--                            <img class="img-fluid rounded" src="img/courses-80x80.jpg" alt="">-->
<!--                            <div class="pl-3">-->
<!--                                <h6>Web design & development courses for beginners</h6>-->
<!--                                <div class="d-flex">-->
<!--                                    <small class="text-body mr-3"><i class="fa fa-user text-primary mr-2"></i>Jhon Doe</small>-->
<!--                                    <small class="text-body"><i class="fa fa-star text-primary mr-2"></i>4.5 (250)</small>-->
<!--                                </div>-->
<!--                            </div>-->
<!--                        </a>-->
<!--                    </div>-->
                </div>
            </div>
        </div>
    </div>
    <!-- Detail End -->


{% endblock content %}